<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softtechnotech.learndsalgocoding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".aboutPage" />
        <activity android:name=".contactUs" />
        <activity android:name=".DsAlgoAct" />
        <activity android:name=".ArrayDSA" />
        <activity android:name=".forgotPassword" />
        <activity android:name=".home" />
        <activity android:name=".JavaAct" />
        <activity android:name=".login" />
        <activity android:name=".offline" />
        <activity android:name=".PythonAct" />
        <activity android:name=".registerPage" />
        <activity android:name=".somethingWentWrong" />
        <activity android:name=".successRegister" />
        <activity android:name=".termsAndConditions" />
        <activity android:name=".updatePassword" />
        <activity android:name=".wrg" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>